::-webkit-scrollbar{

width:10px;

}

::-webkit-scrollbar-track{

background:transparent;

}

::-webkit-scrollbar-thumb{

background:#30323d;

border-radius:999px;

}

::-webkit-scrollbar-thumb:hover{

background:#4b4d59;

}